@font-face {
    font-family: Cyber;
    src: url(https://assets.codepen.io/605876/Blender-Pro-Bold.otf);
    font-display: swap
}

* {
    box-sizing: border-box
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: Cyber, sans-serif;
    background: linear-gradient(90deg, #f5a500 80%, #e68d00 10%);
    -webkit-tap-highlight-color: transparent;
    user-select: none
}

.content {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem
}

body .cybr-btn+.cybr-btn {
    margin-top: 2rem
}

#link {
    margin-top: 2rem
}

.cybr-btn {
    --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 1%));
    --shadow-primary: hsl(var(--shadow-primary-hue), 90%, 50%);
    --primary-hue: 0;
    --primary-lightness: 50;
    --color: hsl(0, 0%, 100%);
    --font-size: 20px;
    --shadow-primary-hue: 180;
    --label-size: 9px;
    --shadow-secondary-hue: 60;
    --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
    --clip: polygon(0 0, 100% 0, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 70%);
    --border: 4px;
    --shimmy-distance: 5;
    --clip-one: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
    --clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
    --clip-three: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
    --clip-four: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
    --clip-five: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
    --clip-six: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
    --clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
    font-family: Cyber, sans-serif;
    color: var(--color);
    cursor: pointer;
    background: 0 0;
    text-transform: uppercase;
    font-size: var(--font-size);
    outline: transparent;
    letter-spacing: 2px;
    position: relative;
    font-weight: 700;
    border: 0;
    min-width: 300px;
    height: 75px;
    line-height: 75px;
    transition: background .2s
}

.cybr-btn:hover {
    --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.8%))
}

.cybr-btn:active {
    --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.6%))
}

.cybr-btn:after,
.cybr-btn:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-clip-path: var(--clip);
    clip-path: var(--clip);
    z-index: -1
}

.cybr-btn:before {
    background: var(--shadow-primary);
    transform: translate(var(--border), 0)
}

.cybr-btn:after {
    background: var(--primary)
}

.cybr-btn__tag {
    position: absolute;
    padding: 1px 4px;
    letter-spacing: 1px;
    line-height: 1;
    bottom: -5%;
    right: 5%;
    font-weight: 400;
    color: #000;
    font-size: var(--label-size)
}

.cybr-btn__glitch {
    position: absolute;
    top: calc(var(--border) * -1);
    left: calc(var(--border) * -1);
    right: calc(var(--border) * -1);
    bottom: calc(var(--border) * -1);
    background: var(--shadow-primary);
    text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
    -webkit-clip-path: var(--clip);
    clip-path: var(--clip);
    -webkit-animation: glitch 2s infinite;
    animation: glitch 2s infinite;
    display: none
}

.cybr-btn:hover .cybr-btn__glitch {
    display: block
}

.cybr-btn__glitch:before {
    content: '';
    position: absolute;
    top: calc(var(--border) * 1);
    right: calc(var(--border) * 1);
    bottom: calc(var(--border) * 1);
    left: calc(var(--border) * 1);
    -webkit-clip-path: var(--clip);
    clip-path: var(--clip);
    background: var(--primary);
    z-index: -1
}

@-webkit-keyframes glitch {
    0% {
        -webkit-clip-path: var(--clip-one);
        clip-path: var(--clip-one)
    }
    2%,
    8% {
        -webkit-clip-path: var(--clip-two);
        clip-path: var(--clip-two);
        transform: translate(calc(var(--shimmy-distance) * -1%), 0)
    }
    6% {
        -webkit-clip-path: var(--clip-two);
        clip-path: var(--clip-two);
        transform: translate(calc(var(--shimmy-distance) * 1%), 0)
    }
    9% {
        -webkit-clip-path: var(--clip-two);
        clip-path: var(--clip-two);
        transform: translate(0, 0)
    }
    10% {
        -webkit-clip-path: var(--clip-three);
        clip-path: var(--clip-three);
        transform: translate(calc(var(--shimmy-distance) * 1%), 0)
    }
    13% {
        -webkit-clip-path: var(--clip-three);
        clip-path: var(--clip-three);
        transform: translate(0, 0)
    }
    14%,
    21% {
        -webkit-clip-path: var(--clip-four);
        clip-path: var(--clip-four);
        transform: translate(calc(var(--shimmy-distance) * 1%), 0)
    }
    25% {
        -webkit-clip-path: var(--clip-five);
        clip-path: var(--clip-five);
        transform: translate(calc(var(--shimmy-distance) * 1%), 0)
    }
    30% {
        -webkit-clip-path: var(--clip-five);
        clip-path: var(--clip-five);
        transform: translate(calc(var(--shimmy-distance) * -1%), 0)
    }
    35%,
    45% {
        -webkit-clip-path: var(--clip-six);
        clip-path: var(--clip-six);
        transform: translate(calc(var(--shimmy-distance) * -1%))
    }
    40% {
        -webkit-clip-path: var(--clip-six);
        clip-path: var(--clip-six);
        transform: translate(calc(var(--shimmy-distance) * 1%))
    }
    50% {
        -webkit-clip-path: var(--clip-six);
        clip-path: var(--clip-six);
        transform: translate(0, 0)
    }
    55% {
        -webkit-clip-path: var(--clip-seven);
        clip-path: var(--clip-seven);
        transform: translate(calc(var(--shimmy-distance) * 1%), 0)
    }
    60% {
        -webkit-clip-path: var(--clip-seven);
        clip-path: var(--clip-seven);
        transform: translate(0, 0)
    }
    100%,
    31%,
    61% {
        -webkit-clip-path: var(--clip-four);
        clip-path: var(--clip-four)
    }
}

@keyframes glitch {
    0% {
        -webkit-clip-path: var(--clip-one);
        clip-path: var(--clip-one)
    }
    2%,
    8% {
        -webkit-clip-path: var(--clip-two);
        clip-path: var(--clip-two);
        transform: translate(calc(var(--shimmy-distance) * -1%), 0)
    }
    6% {
        -webkit-clip-path: var(--clip-two);
        clip-path: var(--clip-two);
        transform: translate(calc(var(--shimmy-distance) * 1%), 0)
    }
    9% {
        -webkit-clip-path: var(--clip-two);
        clip-path: var(--clip-two);
        transform: translate(0, 0)
    }
    10% {
        -webkit-clip-path: var(--clip-three);
        clip-path: var(--clip-three);
        transform: translate(calc(var(--shimmy-distance) * 1%), 0)
    }
    13% {
        -webkit-clip-path: var(--clip-three);
        clip-path: var(--clip-three);
        transform: translate(0, 0)
    }
    14%,
    21% {
        -webkit-clip-path: var(--clip-four);
        clip-path: var(--clip-four);
        transform: translate(calc(var(--shimmy-distance) * 1%), 0)
    }
    25% {
        -webkit-clip-path: var(--clip-five);
        clip-path: var(--clip-five);
        transform: translate(calc(var(--shimmy-distance) * 1%), 0)
    }
    30% {
        -webkit-clip-path: var(--clip-five);
        clip-path: var(--clip-five);
        transform: translate(calc(var(--shimmy-distance) * -1%), 0)
    }
    35%,
    45% {
        -webkit-clip-path: var(--clip-six);
        clip-path: var(--clip-six);
        transform: translate(calc(var(--shimmy-distance) * -1%))
    }
    40% {
        -webkit-clip-path: var(--clip-six);
        clip-path: var(--clip-six);
        transform: translate(calc(var(--shimmy-distance) * 1%))
    }
    50% {
        -webkit-clip-path: var(--clip-six);
        clip-path: var(--clip-six);
        transform: translate(0, 0)
    }
    55% {
        -webkit-clip-path: var(--clip-seven);
        clip-path: var(--clip-seven);
        transform: translate(calc(var(--shimmy-distance) * 1%), 0)
    }
    60% {
        -webkit-clip-path: var(--clip-seven);
        clip-path: var(--clip-seven);
        transform: translate(0, 0)
    }
    100%,
    31%,
    61% {
        -webkit-clip-path: var(--clip-four);
        clip-path: var(--clip-four)
    }
}

@media screen and (min-width:768px) {
    .content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: center
    }
    .cybr-btn {
        min-width: 400px;
        height: 150px;
        margin: 10px;
        font-size: 30px
    }
    .danska {
        height: 100px !important;
        padding-bottom: 10px
    }
}

.site-footer {
    font-family: Cyber, sans-serif;
    background: linear-gradient(90deg, #e68d00 80%, #f5a500 10%);
    padding: 20px 0 10px;
    font-size: 15px;
    line-height: 24px;
    color: #191919
}

.site-footer hr {
    border-top-color: #edecec;
    opacity: .5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.text-justify {
    font-size: 15px
}

.site-footer a {
    color: #fff;
    list-style: none
}

.site-footer a:hover {
    color: #36c;
    text-decoration: none
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #e7e7e7
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #36c;
    text-decoration: none
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    color: #e4e4e4;
    background-color: #ff2b2b
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #eda700;
    background-color: #29aafe:
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.codepen:hover {
    background-color: #007bb6
}

.social-icons a.mail:hover {
    background-color: #ea4c89
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.dmca-badge img {
    width: 80px
}
