<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:title" content="Downgit - TkDot">
<meta property="og:description" content="Download any File From GitHub.">
<meta property="og:image" content="https://tkdot.tk/assets/img/danska.png">
<meta property="og:url" content="https://tkdot.tk/">
<meta name="google-site-verification" content="QtTlOizbRQ7BjdSQXt4lu1duszwsrTjRFoxfextBjdI" />
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5SKBDM5');</script>
<!-- End Google Tag Manager -->
<div class="home">
  <div class="text-center">
    <div class="vertical-space"></div>
    <a rel="author" href="https://tkdot.tk"><img alt="Author" src="https://tkdot.tk/assets/img/danska.png" width="60em" height=auto/></a>
    <h1><a href="https://tkdot.tk/app/downgit/"> 𝔻𝕠𝕨𝕟𝔾𝕚𝕥 </a></h1>
    <div class="center-row"></div>
    <h4>Create GitHub Resource Download Link</h4>
    
    
    <div class="vertical-space"></div>
    <div class="col-md-6 center-row res">
        <input name="url" type="url" placeholder="GitHub File or Directory Link" class="form-control" ng-model="url" ng-keypress="catchEnter($event)" ></input>
    </div>
    <div class="center-row">
        <button type="button" class="btn btn-default" ng-click="createDownLink()">Create Download Link</button><br><br>
        <button type="button" class="btn btn-default" ng-click="download()"> Download 
    <img src="https://tkdot.tk/app/downgit/res/images/load.png" width="15em"></button>
        <br><br>
        <button type="button" class="btn btn-default"><a href="https://pixeldrain.com/u/m4pFaXtr" style="color: red; font-weight: bold;" target="_blank">Tutorial</a></button>
    </div>
    <img src="">
    <div ng-show="isProcessing.val">
        <div class="vertical-space"></div>
        <img class="processing-img" src="https://i.gifer.com/YVPG.gif" />
        <p>Downloaded {{downloadedFiles.val}} of {{totalFiles.val}} files</p>
    </div>
    
    
    <div class="col-md-6 center-row" ng-show="downUrl">
        <div class="vertical-space"></div>
        <textarea class="form-control download-link-box" ng-model="downUrl" ></textarea>
    </div>
 
    <div class="vertical-space"></div>
    
    <div class="footer">
      
    <div class="bg-run">
      <marquee class="run" direction="">
        <p style="color: #000;">&copy; 2021 | Author: 𝗗𝗔𝗡𝗦𝗞𝗔™  Made With ❤</p>
      </marquee>
    </div>
    
    
    
    
        <a target="_blank" href="https://tkdot.tk/app/downgit">DownGit</a> by <a target="_blank" href="https://tkdot.tk">TkDot</a>
    </div>
   
</div>
</div>
